.categories {
  background: var(--color-bg1);
  height: 512px;
}

.categories h1 {
  line-height: 1;
  margin-bottom: 48px;
}

.categories__container {
  display: grid;
  grid-template-columns: 40% 60%;
}

.categories__left {
  margin-left: 64px;
}

.categories__left p {
  margin: 16px 0 48px;
}

.categories__right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 19px;
}

/* =====================MEDIA QUERIES(TABLET)==================== */
@media screen and (max-width: 1024px) {
  .categories {
    height: auto;
  }
  .categories__container {
    grid-template-columns: 1fr;
    gap: 48px;
  }

  .categories__left {
    margin-right: 0;
  }
}
/* =====================MEDIA QUERIES(PHONE)==================== */
@media screen and (max-width: 600px) {
  .categories__right {
    grid-template-columns: 1fr 1fr;
    gap: 11px;
  }

  .category {
    padding: 16px;
    border-radius: 16px;
  }
}
