.faqs {
  background: var(--color-bg1);
  box-shadow: inset 0 0 48px rgba(0, 0, 0, 0.5);
}

.faqs__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
/* =====================MEDIA QUERIES(TABLET)==================== */
@media screen and (max-width: 1024px) {
  .faqs__container {
    grid-template-columns: 1fr;
  }
  .faq {
    padding: 24px;
  }
}
/* =====================MEDIA QUERIES(PHONE)==================== */
@media screen and (max-width: 600px) {
}
