header {
  position: relative;
  top: 80px;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 80px;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 80px;
  height: 100%;
}

.header__left p {
  margin: 38px 0 16px;
  font-family: "iransansRegular";
}
/* =====================MEDIA QUERIES(TABLET)==================== */
@media screen and (max-width: 1024px) {
  header {
    height: 52vh;
    margin-bottom: 64px;
  }

  .header__container {
    gap: 0;
    padding-bottom: 48px;
  }
}
/* =====================MEDIA QUERIES(PHONE)==================== */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header__container {
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 0;
  }

  .header__left p {
    margin-bottom: 20px;
  }
}
