header {
  position: relative;
  top: 80px;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 80px;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 80px;
  height: 100%;
}

.header__left p {
  margin: 38px 0 16px;
  font-family: "iransansRegular";
}
