nav {
  direction: ltr;
  background: transparent;
  width: 100vw;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 11;
}

/* change navbar background whit JS when scroll  */
.window-scroll {
  background: var(--color-primary);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}

.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  display: none;
}

.nav__menu {
  display: flex;
  align-items: center;
  direction: rtl;
  gap: 64px;
}

.nav__menu .linkStyle {
  font-size: 18px;
  font-weight: bold;
  transition: var(--transition);
}

.nav__menu .linkStyle:hover {
  color: var(--color-danger);
}
